

.cabesera{
    display:flex;
    background-color: #FFFFFF;
    opacity: 0.9;
    align-items: flex-start;
    
    width: 100%;
    

    
}
.cabesera-logo{
    margin-top: 42px;
    margin-left: 100px;
    
}

.cabesera-input-buscar{
    width: 390px;
    height: 30px;
    color: grey;
    background: #F5F5F5;
    border-radius: 20px;
    margin-top: 42px;
    margin-left: 40px;
    border-color: transparent;
    
    
}
.icono-buscar{
    position: absolute;
    border: none;
    margin-top: 50px;
    left: 760px;
    width: 20px;
    background-image: url("/img/buscar.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.boton-login{
    width: 180px;
    height: 50px;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    background: #FFFFFF;
    padding: 16px;
    gap: 10px;
    margin-top: 32px;
    margin-left: 500px;
    margin-bottom: 42px;
    

}
.promociones{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 32px;
    gap: 16px;
    width:100%;
    height: 352px;
    background-image: url("https://content.invisioncic.com/r125076/monthly_2021_01/360_F_357888819_XvattGqyaKLQtZ9JfW1QVTRVTaLkItug.jpg.0356618e5b0ec68ad34096455852406f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.promociones h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: #FFFFFF;
}  
.promociones h2{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
color:#FFFFFF;
}
.refspromociones{

    align-content: center;
    display: flex;
    justify-content: space-around;
}
.refspromociones a{
   text-decoration: none;
   margin-right: 25px;
   margin-left: 25px;
   color: darkgoldenrod;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100px;
    width: 100px;
}
.refStarwars{
    background-image: url('/img/starwarsref.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkslategray;
    border-radius: 100%;
    border-bottom: 2.5px solid #2A7AE4;
    
}
.refStarwars:hover{
    transform: scale(1.2);
    
}
.refConsolas:hover{
    transform: scale(1.3);
}
.refPromociones:hover{
    transform: scale(1.4);
}
.refConsolas{
    background-image: url('/img/consolaref2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    background-color: darkgrey;
    border-bottom: 2.5px solid #2A7AE4;
}
.refPromociones{
    background-image: url('/img/reagañp.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    background-color: darkgrey;
    border-bottom: 2.5px solid #2A7AE4;
}


.boton-promociones{
    width: 90px;
    height: 25px;
    color: #FFFFFF;
    background-color: #2A7AE4;
    padding: 16px;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-radius: 5%;
    opacity: 0.8;
    border-color: transparent;
    text-decoration: none;
    text-align: center;
    

}

.banner-starwars{
   background-color: #2A7AE4;
  
}